.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

img{
	width:350px;
}
.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.post_form{
	margin-bottom: 20px;
}

.black{
	color: black;
}

.comment_box{
	margin-top: 10px;
}

li {
	list-style-type: none;
}