<!DOCTYPE html>
<html ng-app="reddit-app">
<head>
	<meta charset="UTF-8">
	<title>Angular Reddit Clone</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<link href="animations.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-sanitize.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">

  <nav class="navbar navbar-default" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">

	    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Reddit Clone</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
	  
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#" ng-click="bool=true">Post +</a></li>
	              
	      <li dropdown>
	        <a href="#" dropdown-toggle>Sort by<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#">Action</a></li>
	          <li><a href="#">Another action</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li><a href="#">Separated link</a></li>
	          <li><a href="#">One more separated link</a></li>
	        </ul>
	      </li>

	    <form class="navbar-form navbar-left" role="search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
	      </div>
	      <!-- <button type="submit" class="btn btn-default">Submit</button> -->
	    </form>

	  </div><!-- /.navbar-collapse -->
  </nav>

  <div ng-controller="PostCtrl" class="container-fluid bool" ng-show="bool">
    <form ng-submit="addPost(newPost)" name="post_form">
        <div class="form-group" ng-class="{ 'has-error': post_form.title.$dirty && post_form.title.$invalid }" >
          <label class="control-label">Title</label>
          <input type="text" class="form-control" name="title" ng-model="newPost.title" required placeholder="Title" />
        </div>
        <div class="form-group" ng-class="{ 'has-error':post_form.author.$dirty && post_form.author.$invalid }" >
          <label class="control-label">Author</label>
          <input type="text" class="form-control" name="author" ng-model="newPost.author" required placeholder="Author" />
        </div>
        <div class="form-group" ng-class="{ 'has-error':post_form.body.$dirty && post_form.body.$invalid }" >
          <label class="control-label">Body</label>
          <input type="text" class="form-control" name="body" ng-model="newPost.body" required placeholder="Body" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': post_form.img.$dirty && post_form.img.$invalid }" >
          <label class="control-label">Image URL</label>
          <input type="text" class="form-control" name="img" ng-model="newPost.img" required placeholder="Image URL" />
        </div>
        <button class="btn btn-primary" type="submit" ng-click="bool=false">Add Post</button>
        <button class="btn btn-link" ng-click="reset()">Reset</button>
    </form>
  </div> 

  <div class="row" ng-controller="PostCtrl">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail" ng-repeat="post in posts | filter:searchText">
    	<img ng-src={{post.img}}>
    	<div class="caption">
    	   <h3>{{post.title}}</h3>
    	   <p class="text-info"><a ng-href="#">{{post.author}}</a> 
    	     <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    	     {{post.date | date:"EEEE, MM/dd/yy 'at' h:mma"}}
    	   </p>
    	   <p>{{post.body}}</p>
    	   <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View Comments</button>
    	   <div collapse="isCollapsed">
    	     <div class="well well-lg">
    	       <li ng-repeat="comment in post.comments">
    	         <p class="text-primary">
    	           <strong>{{comment.author}}:</strong>
				   {{comment.body}}
				 </p>	
    	        </li>
    	     </div>
    	   </div>
    	</div>
      </div>
    </div>   	
  </div>

  <!-- <div ng-controller="CollapseDemoCtrl">
	<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div collapse="isCollapsed">
		<div class="well well-lg">Some content</div> 
	</div>
  </div>
	
  <div ng-controller="ButtonsCtrl">
      <h4>Single toggle</h4>
      <pre>{{singleModel}}</pre>
      <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Single Toggle
      </button>
      <h4>Checkbox</h4>
      <pre>Model: {{checkModel}}</pre>
      <pre>Results: {{checkResults}}</pre>
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
          <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
          <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
      </div>
      <h4>Radio &amp; Uncheckable Radio</h4>
      <pre>{{radioModel || 'null'}}</pre>
      <div class="btn-group">
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
          <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
      </div>
      <div class="btn-group">
          <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
          <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
          <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
      </div>
  </div>	 -->
</body>
</html>